{
  "extends": [
    "eslint-config-ons-author",
    "eslint-config-ons-author/react"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  }
}