.json-window {
  width: inherit;
  height: 90vh;
}

.json-window-code {
  position: fixed;
  width: inherit;
  height: inherit;
  background: #333;
  padding: 1rem;
  color: white;
  font-family: monospace;
  overflow-x: scroll;
  font-size: 1em;
}
