.options {
  margin-bottom: 16px;
}

.options__existing {
  border: 1px solid lightgrey;
  padding: 20px;
}

.options__existing ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options fieldset {
  border: 1px solid lightgrey;
  padding: 20px;
}
.options legend {
  padding: 0 3px;
}

.options button {
  margin-right: 8px;
}
